Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

test(pellegrims-dev): fix test
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.spec.tsx
Due: none

feat(pellegrims-dev): support article cover images
  apps/pellegrims-dev/content/blog/lorem-ipsum.md
  apps/pellegrims-dev/public/.gitkeep
  apps/pellegrims-dev/public/assets/blog/lorem-ipsum/cover.jpg
  libs/markdown/src/lib/markdown.model.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
Due: pellegrims-dev

feat(pellegrims-dev): layout improvements and cleanup
  apps/pellegrims-dev/components/og-image.tsx
  apps/pellegrims-dev/pages/api/og-image.ts
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/blog/index.tsx
  apps/pellegrims-dev/utils/url.ts
  libs/markdown/src/lib/markdown-to-html.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
Due: pellegrims-dev

feat(pellegrims-dev): add article 'Make Angular Material dialogs type-safe'
  apps/pellegrims-dev/content/blog/lorem-ipsum.md
  apps/pellegrims-dev/content/blog/lorem-ipsum2.md
  apps/pellegrims-dev/content/blog/ng-material-dialog-type-safety.md
  apps/pellegrims-dev/pages/_app.tsx
  apps/pellegrims-dev/public/assets/blog/lorem-ipsum/cover.jpg
  apps/pellegrims-dev/public/assets/blog/ng-material-dialog-type-safety/cover.jpg
  apps/pellegrims-dev/public/assets/blog/ng-material-dialog-type-safety/dialog.png
Due: pellegrims-dev

perf(pellegrims-dev): improve image display performance
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.tsx
Due: none

fix(pellegrims-dev): blog-article & card layout improvements
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.tsx
Due: none

fix(pellegrims-dev): remove useless slash in og image url
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

fix(pellegrims-dev): canonical url misses ending slash
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

fix(pellegrims-dev): eagerly load article image
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
Due: none

fix(pellegrims-dev): seo issues
  apps/pellegrims-dev/constants.ts
  apps/pellegrims-dev/pages/_app.tsx
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

fix(pellegrims-dev): fix base urls
  apps/pellegrims-dev/constants.ts
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

fix(pellegrims-dev): og:image shouldn't contain whitespaces
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

fix(pellegrims-dev): use current origin for og:images
  apps/pellegrims-dev/constants.ts
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

feat(pellegrims-dev): improve highlight text on home hero
  libs/pellegrims-dev/ui/atoms/src/lib/highlight/highlight.tsx
Due: none

feat(pellegrims-dev): extract template for home page
  apps/pellegrims-dev/pages/_app.tsx
  apps/pellegrims-dev/pages/index.tsx
  libs/pellegrims-dev/ui/templates/src/index.ts
  libs/pellegrims-dev/ui/templates/src/lib/home/home.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/home/home.tsx
Due: pellegrims-dev

fix(pellegrims-dev): small punctuation fix
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
Due: none

fix(pellegrims-dev): force trailing dot on same line
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
Due: none

feat(pellegrims-dev): add rss feed
  .gitignore
  apps/pellegrims-dev/constants.ts
  apps/pellegrims-dev/jest.config.ts
  apps/pellegrims-dev/pages/_document.tsx
  apps/pellegrims-dev/pages/index.tsx
  apps/pellegrims-dev/utils/feed.tsx
  libs/markdown/src/index.ts
  libs/markdown/src/lib/markdown-to-html.ts
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev

fix(pellegrims-dev): rss feed link is missing rss subfolder
  apps/pellegrims-dev/pages/_document.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): move favicon files to subdirectory
  apps/pellegrims-dev/components/favicon.tsx
  apps/pellegrims-dev/public/favicon/android-chrome-192x192.png
  apps/pellegrims-dev/public/favicon/android-chrome-512x512.png
  apps/pellegrims-dev/public/favicon/apple-touch-icon.png
  apps/pellegrims-dev/public/favicon/browserconfig.xml
  apps/pellegrims-dev/public/favicon/favicon-16x16.png
  apps/pellegrims-dev/public/favicon/favicon-32x32.png
  apps/pellegrims-dev/public/favicon/favicon.ico
  apps/pellegrims-dev/public/favicon/mstile-150x150.png
  apps/pellegrims-dev/public/favicon/safari-pinned-tab.svg
  apps/pellegrims-dev/public/site.webmanifest
Due: pellegrims-dev

refactor(pellegrims-dev): move social icons content to icon component
  apps/pellegrims-dev/constants.ts
  apps/pellegrims-dev/pages/_app.tsx
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/snippets.tsx
  libs/pellegrims-dev/ui/atoms/src/index.ts
  libs/pellegrims-dev/ui/atoms/src/lib/social-icon-link/social-icon-link.spec.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/social-icon-link/social-icon-link.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/social-icon/social-icon.spec.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/social-icon/social-icon.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.tsx
Due: pellegrims-dev

build: update nx to v14.4.2
  package.json
  pnpm-lock.yaml
Due: none

build: convert workspace.json to nx projects
  apps/pellegrims-dev-e2e/project.json
  apps/pellegrims-dev/project.json
  libs/eslint-config/project.json
  libs/markdown/project.json
  libs/nx-remotecache-s3/project.json
  libs/pellegrims-dev/ui/atoms/project.json
  libs/pellegrims-dev/ui/molecules/project.json
  libs/pellegrims-dev/ui/organisms/project.json
  libs/pellegrims-dev/ui/templates/project.json
  workspace.json
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

ci: remove codecov integration
  .github/workflows/ci.yml
  README.md
  libs/eslint-config/README.md
  libs/nx-remotecache-s3/README.md
Due: eslint-config, nx-remotecache-s3

chore(eslint-config): release version 1.0.11
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.0.6
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

Path conditions:
  pellegrims-dev: any of: apps/pellegrims-dev/
  eslint-config: any of: libs/eslint-config/
  nx-remotecache-s3: any of: libs/nx-remotecache-s3/
