Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

fix(nx-remotecache-s3): missing peer dependency on @nrwl/workspace
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.2.2
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update nx v14.7.11
  apps/goldgetters/pages/_app.tsx
  package.json
  pnpm-lock.yaml
Due: none

feat(cotersus): add seo
  apps/cotersus/constants.ts
  apps/cotersus/pages/_app.tsx
  apps/cotersus/public/logo.png
Due: none

feat(pellegrims-dev): reflect self-employment switch
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
Due: none

ci: don't run ci workflow on master branch
  .github/workflows/ci.yml
Due: none

ci: only include new changes in github release
  libs/eslint-config/project.json
  libs/nx-remotecache-s3/project.json
Due: eslint-config, nx-remotecache-s3

ci: activate semver on apps
  apps/cotersus/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev/project.json
Due: pellegrims-dev

chore(cotersus): release version 0.1.0
  apps/cotersus/CHANGELOG.md
Due: none

chore(goldgetters): release version 0.1.0
  apps/goldgetters/CHANGELOG.md
Due: none

chore(pellegrims-dev): release version 0.1.0
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config): release version 1.0.13
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.2.3
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

test(goldgetters): fix promise in test
  libs/goldgetters/ui/organisms/src/lib/contact-form/contact-form.spec.tsx
Due: none

feat(goldgetters): add profile form component
  libs/goldgetters/ui/organisms/src/index.ts
  libs/goldgetters/ui/organisms/src/lib/profile-form/profile-form.spec.tsx
  libs/goldgetters/ui/organisms/src/lib/profile-form/profile-form.tsx
Due: none

feat(goldgetters): support disabled input component
  libs/goldgetters/ui/atoms/src/lib/input/input.tsx
Due: none

feat(goldgetters): update profile name
  apps/goldgetters/pages/user/profile/index.tsx
  libs/goldgetters/server/src/lib/router.ts
Due: none

chore(goldgetters): release version 0.2.0
  apps/goldgetters/CHANGELOG.md
Due: none

Add files via upload
  apps/cotersus/public/logo-dark.svg
  apps/cotersus/public/logo-light.svg
Due: none

chore(cotersus): release version 0.1.1
  apps/cotersus/CHANGELOG.md
Due: none

chore(cotersus): add logo-dark.png
  apps/cotersus/public/logo-dark.png
Due: none

chore(cotersus): release version 0.1.2
  apps/cotersus/CHANGELOG.md
Due: none

build: update @pellegrims/nx-remotecache-s3 to v1.2.3
  package.json
  pnpm-lock.yaml
Due: none

build: update @pellegrims/eslint-config to v1.0.13
  package.json
  pnpm-lock.yaml
Due: none

refactor(eslint-config): rename eslint-config to eslint-config-angular
  libs/eslint-config/angular/.babelrc
  libs/eslint-config/angular/.eslintrc.json
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/README.md
  libs/eslint-config/angular/jest.config.ts
  libs/eslint-config/angular/package.json
  libs/eslint-config/angular/project.json
  libs/eslint-config/angular/src/angular-template.ts
  libs/eslint-config/angular/src/angular.ts
  libs/eslint-config/angular/src/index.spec.ts
  libs/eslint-config/angular/src/index.ts
  libs/eslint-config/angular/src/javascript.ts
  libs/eslint-config/angular/src/lib/angular-eslint.ts
  libs/eslint-config/angular/src/lib/angular-template.ts
  libs/eslint-config/angular/src/lib/eslint.ts
  libs/eslint-config/angular/src/lib/etc.ts
  libs/eslint-config/angular/src/lib/import.ts
  libs/eslint-config/angular/src/lib/ngrx.ts
  libs/eslint-config/angular/src/lib/prettier.ts
  libs/eslint-config/angular/src/lib/rxjs-angular.ts
  libs/eslint-config/angular/src/lib/rxjs.ts
  libs/eslint-config/angular/src/lib/typescript-eslint.ts
  libs/eslint-config/angular/src/lib/unicorn.ts
  libs/eslint-config/angular/src/typescript.ts
  libs/eslint-config/angular/tsconfig.json
  libs/eslint-config/angular/tsconfig.lib.json
  libs/eslint-config/angular/tsconfig.spec.json
  libs/eslint-config/project.json
  tsconfig.base.json
  workspace.json
Due: eslint-config

refactor(eslint-config-angular): move non-angular stuff into eslint-config-base
  commitlint.config.js
  libs/eslint-config/angular/README.md
  libs/eslint-config/angular/package.json
  libs/eslint-config/angular/src/index.ts
  libs/eslint-config/base/.babelrc
  libs/eslint-config/base/.eslintrc.json
  libs/eslint-config/base/README.md
  libs/eslint-config/base/jest.config.ts
  libs/eslint-config/base/package.json
  libs/eslint-config/base/project.json
  libs/eslint-config/base/src/index.ts
  libs/eslint-config/base/src/javascript.ts
  libs/eslint-config/base/src/lib/eslint.ts
  libs/eslint-config/base/src/lib/etc.ts
  libs/eslint-config/base/src/lib/import.ts
  libs/eslint-config/base/src/lib/prettier.ts
  libs/eslint-config/base/src/lib/rxjs.ts
  libs/eslint-config/base/src/lib/typescript-eslint.ts
  libs/eslint-config/base/src/lib/unicorn.ts
  libs/eslint-config/base/src/typescript.ts
  libs/eslint-config/base/tsconfig.json
  libs/eslint-config/base/tsconfig.lib.json
  libs/eslint-config/base/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint-config
