Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

ci: use personal access token to create github release
  .github/workflows/release.yml
Due: none

ci: rename target from 'version' to 'release'
  .github/workflows/release.yml
  apps/cotersus/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev/project.json
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/project.json
  libs/nx-remotecache-s3/project.json
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

ci: deploy as post-target of release
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  apps/cotersus/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev/project.json
Due: pellegrims-dev

chore(cotersus): release version 0.1.6
  apps/cotersus/CHANGELOG.md
Due: none

Revert "ci: use personal access token to create github release"
  .github/workflows/release.yml
Due: none

chore(cotersus): trigger preview deploy
  apps/cotersus/pages/index.tsx
Due: none

fix(nx-remotecache-s3): generated package.json is pinning all dependency versions
  libs/nx-remotecache-s3/project.json
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 2.0.2
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build(nx-remotecache-s3): sync package.json dependency versions with root
  libs/nx-remotecache-s3/package.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(pellegrims-dev): release version 0.3.1
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(goldgetters): release version 0.2.3
  apps/goldgetters/CHANGELOG.md
Due: none

chore(eslint-config-base): release version 0.0.6
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 2.0.3
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(eslint-config-angular): release version 0.0.6
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

ci: update @pellegrims/nx-remotecache-s3 to v2.0.3
  package.json
  pnpm-lock.yaml
Due: none

refactor: extract credential provider creation to a separate function
  libs/nx-remotecache-s3/src/lib/s3-client.ts
Due: nx-remotecache-s3

feat: add environment variable to explicitly set custom access key ID and secret access key for AWS
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

revert: changes to tailwind in lockfile
  pnpm-lock.yaml
Due: none

fix: remove more changes from pnpm lockfile
  pnpm-lock.yaml
Due: none

feat: add environment variable to explicitly set custom access key ID and secret access key for AWS (#199)
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 2.1.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

fix: vulnerability within the pinned @aws-sdk/* packages
  package.json
  pnpm-lock.yaml
Due: none

ci: update @jscutlery/semver to v2.30.1
  package.json
  pnpm-lock.yaml
Due: none

build(pellegrims-dev): update react-rough-notation to v1.0.3
  package.json
  pnpm-lock.yaml
Due: none

fix(goldgetters): icon button is gray instead of dark
  libs/goldgetters/ui/atoms/src/lib/icon-button/icon-button.tsx
Due: none

feat(goldgetters): create image-input component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/icon/icon.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/dropzone.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/image-input.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/image-input.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/image-preview.tsx
Due: none

feat(goldgetters): imageInput - implement file drag & drop
  libs/goldgetters/ui/atoms/src/lib/image-input/dropzone.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/image-input.tsx
Due: none

feat(goldgetters): simplify profile form & image input components
  apps/goldgetters/pages/user/profile/index.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/dropzone.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/image-input.tsx
  libs/goldgetters/ui/atoms/src/lib/image-input/image-preview.tsx
  libs/goldgetters/ui/organisms/src/lib/profile-form/profile-form.spec.tsx
  libs/goldgetters/ui/organisms/src/lib/profile-form/profile-form.tsx
Due: none

chore(goldgetters): release version 0.3.0
  apps/goldgetters/CHANGELOG.md
Due: none

build(goldgetters): update next-auth to v4.22.1
  libs/goldgetters/server/src/lib/auth.ts
  libs/goldgetters/server/src/lib/context.ts
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pellegrims-dev: any of: apps/pellegrims-dev/
  eslint-config: any of: libs/eslint-config/
  nx-remotecache-s3: any of: libs/nx-remotecache-s3/
