Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

test(repo): add codecov configuration file
  .github/workflows/ci.yml
  codecov.yml
Due: none

ci: fix releases not working in parallel
  .github/workflows/release.yml
  commitlint.config.js
Due: none

Revert "test(eslint-config): add basic test"
  libs/eslint-config/src/index.spec.ts
  libs/eslint-config/tsconfig.spec.json
Due: eslint-config

chore(release): 1.0.4
  libs/eslint-config/CHANGELOG.md
Due: eslint-config

test(eslint-config): add basic test
  libs/eslint-config/src/index.spec.ts
  libs/eslint-config/tsconfig.spec.json
Due: eslint-config

chore(release): 1.0.5
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

feat(nx-remotecache-s3): swap to standard AWS credentials
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

feat(nx-remotecache-s3): swap to standard AWS credentials (#100)
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(release): 1.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

docs: add codecov badges
  README.md
Due: none

docs(eslint-config): add codecov badge
  libs/eslint-config/README.md
Due: eslint-config

docs(nx-remotecache-s3): add codecov badge
  libs/nx-remotecache-s3/README.md
Due: nx-remotecache-s3

chore(release): 1.0.6
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

chore(release): 1.0.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update @pellegrims dependencies
  package.json
  pnpm-lock.yaml
Due: none

build: add @commitlint/cli
  package.json
  pnpm-lock.yaml
Due: none

build: update nx to v14.1.9
  apps/pellegrims-dev/jest.config.ts
  apps/pellegrims-dev/tsconfig.json
  jest.config.ts
  jest.preset.js
  libs/eslint-config/jest.config.ts
  libs/eslint-config/tsconfig.lib.json
  libs/eslint-config/tsconfig.spec.json
  libs/markdown/jest.config.ts
  libs/markdown/tsconfig.lib.json
  libs/markdown/tsconfig.spec.json
  libs/nx-remotecache-s3/jest.config.ts
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.spec.ts
  libs/nx-remotecache-s3/tsconfig.lib.json
  libs/nx-remotecache-s3/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  workspace.json
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

ci: add markdown as accepted commit message scope
  commitlint.config.js
Due: none

fix(markdown): only parse md files
  libs/markdown/src/lib/markdown.ts
Due: none

build: update @jscutlery/semver
  package.json
  pnpm-lock.yaml
Due: none

ci: skip git hooks when versioning
  .github/workflows/release.yml
  commitlint.config.js
Due: none

ci: version all apps on manual release
  .github/workflows/release.yml
Due: none

ci: fix $BEFORE_SHA not existing on manual release run
  .github/workflows/release.yml
Due: none

chore(nx-remotecache-s3): release version 1.0.2
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(eslint-config): release version 1.0.7
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

feat(pellegrims-dev): [blog] support inline code fragments
  apps/pellegrims-dev/components/code-block.tsx
Due: pellegrims-dev

feat(pellegrims-dev): [blog] support markdown images
  apps/pellegrims-dev/components/markdown-image.tsx
  apps/pellegrims-dev/components/markdown.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): split social-icon in link and icon parts
  apps/pellegrims-dev/components/footer.tsx
  apps/pellegrims-dev/components/social-icon-link.tsx
  apps/pellegrims-dev/components/social-icon.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): extract buildCanonicalUrl function
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

refactor(pellegrims-dev): extract twitterHandle constant
  apps/pellegrims-dev/constants.ts
Due: pellegrims-dev

feat(pellegrims-dev): [blog] add twitter share link
  apps/pellegrims-dev/components/blog-article.tsx
Due: pellegrims-dev

Path conditions:
  pellegrims-dev: any of: apps/pellegrims-dev/
  eslint-config: any of: libs/eslint-config/
  nx-remotecache-s3: any of: libs/nx-remotecache-s3/
