Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

build(goldgetters): update trpc to v10.21.1
  apps/goldgetters/pages/_app.tsx
  apps/goldgetters/pages/contact.tsx
  apps/goldgetters/pages/locations/index.tsx
  apps/goldgetters/pages/user/profile/index.tsx
  libs/goldgetters/data-access/src/index.ts
  libs/goldgetters/data-access/src/lib/trpc.ts
  libs/goldgetters/server/src/index.ts
  libs/goldgetters/server/src/lib/trpc/router.ts
  libs/goldgetters/server/src/lib/trpc/server.ts
  libs/goldgetters/server/src/lib/trpc/util.ts
  package.json
  pnpm-lock.yaml
Due: none

build(goldgetters): update next-auth to v4.22.1
  libs/goldgetters/server/src/lib/auth.ts
  libs/goldgetters/server/src/lib/context.ts
  package.json
  pnpm-lock.yaml
Due: none

chore(goldgetters): release version 0.3.1
  apps/goldgetters/CHANGELOG.md
Due: none

feat(goldgetters): save user profile image to s3
  apps/goldgetters/pages/user/profile/index.tsx
  libs/goldgetters/data-access/src/lib/trpc.ts
  libs/goldgetters/server/src/lib/auth.ts
  libs/goldgetters/server/src/lib/s3.ts
  libs/goldgetters/server/src/lib/trpc/router.ts
  libs/goldgetters/ui/organisms/src/index.ts
  libs/goldgetters/ui/organisms/src/lib/profile-form/profile-form.tsx
  package.json
  pnpm-lock.yaml
Due: none

chore(goldgetters): release version 0.4.0
  apps/goldgetters/CHANGELOG.md
Due: none

chore: update Nx to v15.9.3 and run migrations
  .eslintignore
  apps/pellegrims-dev/jest.config.ts
  libs/eslint-config/angular/jest.config.ts
  libs/eslint-config/base/jest.config.ts
  libs/goldgetters/data-access/jest.config.ts
  libs/goldgetters/db/jest.config.ts
  libs/goldgetters/server/jest.config.ts
  libs/nx-remotecache-s3/jest.config.ts
  libs/nx-vercel/jest.config.ts
  libs/shared/markdown/jest.config.ts
  libs/shared/test/jest.config.ts
  package.json
  pnpm-lock.yaml
  workspace.json
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

build: update @aws packages to v3.329.0
  libs/nx-remotecache-s3/package.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(shared): fix typing
  libs/shared/markdown/src/lib/markdown-to-html.ts
Due: none

refactor(pellegrims-dev): move DateFormatted to @pellegrims/shared/ui/atoms
  apps/pellegrims-dev/components/og-image.tsx
  libs/pellegrims-dev/ui/atoms/src/index.ts
  libs/pellegrims-dev/ui/atoms/src/lib/date-formatted/date-formatted.spec.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/date-formatted/date-formatted.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.tsx
  libs/shared/ui/atoms/src/index.ts
  libs/shared/ui/atoms/src/lib/date-formatted/date-formatted.tsx
Due: pellegrims-dev

ci: automatically add root property to project.json
  .github/workflows/ci.yml
Due: none

chore: remove obsolete root properties from project.json
  apps/cotersus-e2e/project.json
  apps/cotersus/project.json
  apps/goldgetters-e2e/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev-e2e/project.json
  apps/pellegrims-dev/project.json
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/project.json
  libs/goldgetters/data-access/project.json
  libs/goldgetters/db/project.json
  libs/goldgetters/server/project.json
  libs/goldgetters/ui/atoms/project.json
  libs/goldgetters/ui/molecules/project.json
  libs/goldgetters/ui/organisms/project.json
  libs/goldgetters/ui/templates/project.json
  libs/nx-remotecache-s3/project.json
  libs/nx-vercel/project.json
  libs/pellegrims-dev/ui/atoms/project.json
  libs/pellegrims-dev/ui/molecules/project.json
  libs/pellegrims-dev/ui/organisms/project.json
  libs/pellegrims-dev/ui/templates/project.json
  libs/shared/markdown/project.json
  libs/shared/test/project.json
  libs/shared/ui/atoms/project.json
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

chore(pellegrims-dev): release version 0.3.2
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-base): release version 0.0.7
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 2.1.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(eslint-config-angular): release version 0.0.7
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(cotersus): release version 0.1.7
  apps/cotersus/CHANGELOG.md
Due: none

chore(goldgetters): release version 0.4.1
  apps/goldgetters/CHANGELOG.md
Due: none

chore(pellegrims-dev): release version 0.3.3
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-base): release version 0.0.8
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(eslint-config-angular): release version 0.0.8
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 2.1.2
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(cotersus): release version 0.1.8
  apps/cotersus/CHANGELOG.md
Due: none

chore(goldgetters): release version 0.4.2
  apps/goldgetters/CHANGELOG.md
Due: none

chore(pellegrims-dev): release version 0.3.4
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-base): release version 0.0.9
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(eslint-config-angular): release version 0.0.9
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 2.1.3
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat: update @pellegrims/nx-remotecache-s3 to 2.1.3
  package.json
  pnpm-lock.yaml
Due: none

feat: update package to force version bump
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

Path conditions:
  pellegrims-dev: any of: apps/pellegrims-dev/
  eslint-config: any of: libs/eslint-config/
  nx-remotecache-s3: any of: libs/nx-remotecache-s3/
