Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

feat: update package to force version bump
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 3.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: replace @pellegrims dependencies by local references
  .eslintrc.json
  apps/goldgetters/.eslintrc.json
  apps/pellegrims-dev/.eslintrc.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev

chore(goldgetters): release version 0.4.3
  apps/goldgetters/CHANGELOG.md
Due: none

chore(pellegrims-dev): release version 0.3.5
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-angular): release version 0.0.9
  libs/eslint-config/angular/CHANGELOG.md
Due: eslint-config

Switch from @aws-sdk/abort-controller to @smithy/abort-controller as the former is deprecated
  libs/nx-remotecache-s3/package.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

build: switch from @aws-sdk/abort-controller to @smithy/abort-controller as the former is deprecated
  libs/nx-remotecache-s3/package.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 3.0.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update nx v16.2.2
  apps/pellegrims-dev-e2e/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

build: update nx v16.3.2
  package.json
  pnpm-lock.yaml
Due: none

chore: nx migration - update-16-3-0-remove-root-build-option
  apps/cotersus/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev/project.json
Due: pellegrims-dev

build: update nx v16.4.3
  package.json
  pnpm-lock.yaml
Due: none

chore: nx migration - update-16-3-0-remove-old-tsconfigs
  apps/pellegrims-dev-e2e/project.json
Due: none

build: update nx v16.5.5
  package.json
  pnpm-lock.yaml
Due: none

chore: nx migration - add-test-setup-to-inputs-ignore
  nx.json
Due: none

build: update nx v16.6.0
  package.json
  pnpm-lock.yaml
Due: none

chore: nx migration - 16.6.0-prefix-outputs
  libs/nx-vercel/project.json
Due: none

chore: nx migration - explicitly-set-projects-to-update-buildable-deps
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/project.json
  libs/nx-vercel/project.json
Due: eslint-config

build(goldgetters): exclude @swc modules from edge functions
  apps/goldgetters/next.config.js
Due: none

test(pellegrims-dev-e2e): fix tsconfig
  apps/pellegrims-dev-e2e/tsconfig.json
  commitlint.config.js
Due: none

build(pellegrims-dev): og-image replace experimental-edge runtime by edge
  apps/pellegrims-dev/pages/api/og-image.tsx
Due: pellegrims-dev

fix(pellegrims-dev): paths are no longer from monorepo root
  apps/pellegrims-dev/utils/feed.tsx
  apps/pellegrims-dev/utils/paths.ts
Due: pellegrims-dev

chore(cotersus): release version 0.1.9
  apps/cotersus/CHANGELOG.md
Due: none

chore(goldgetters): release version 0.4.4
  apps/goldgetters/CHANGELOG.md
Due: none

Path conditions:
  pellegrims-dev: any of: apps/pellegrims-dev/
  eslint-config: any of: libs/eslint-config/
  nx-remotecache-s3: any of: libs/nx-remotecache-s3/
