Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

chore(pellegrims-dev): release version 0.3.6
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-base): release version 0.0.10
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(eslint-config-angular): release version 0.0.10
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

build: dependency security updates
  package.json
  pnpm-lock.yaml
Due: none

build: update nx v16.7.4
  package.json
  pnpm-lock.yaml
Due: none

build: update nx v16.8.1
  package.json
  pnpm-lock.yaml
Due: none

chore: nx migration - update-16-8-0-cypress-13
  package.json
  pnpm-lock.yaml
Due: none

build: update nx v16.9.1
  package.json
  pnpm-lock.yaml
Due: none

build: update nx v16.10.0
  package.json
  pnpm-lock.yaml
Due: none

build: update nx-remotecache-custom to v5
  package.json
  pnpm-lock.yaml
Due: none

build(nx-remotecache-s3): adjust dependencies
  libs/nx-remotecache-s3/.eslintrc.json
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/project.json
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 4.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update nx v17.1.2 and run migrations and update related deps
  .gitignore
  .prettierignore
  apps/cotersus-e2e/project.json
  apps/cotersus/project.json
  apps/goldgetters-e2e/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev-e2e/project.json
  apps/pellegrims-dev/project.json
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/package.json
  libs/eslint-config/base/project.json
  libs/eslint-config/base/src/lib/import.ts
  libs/eslint-config/base/src/lib/typescript-eslint.ts
  libs/goldgetters/data-access/project.json
  libs/goldgetters/db/project.json
  libs/goldgetters/server/project.json
  libs/goldgetters/ui/atoms/project.json
  libs/goldgetters/ui/molecules/project.json
  libs/goldgetters/ui/organisms/project.json
  libs/goldgetters/ui/templates/project.json
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/project.json
  libs/nx-vercel/project.json
  libs/pellegrims-dev/ui/atoms/project.json
  libs/pellegrims-dev/ui/molecules/project.json
  libs/pellegrims-dev/ui/organisms/project.json
  libs/pellegrims-dev/ui/templates/project.json
  libs/shared/markdown/project.json
  libs/shared/test/project.json
  libs/shared/ui/atoms/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

ci: update workflow to use nx v17 supported affected logic
  .github/workflows/ci.yml
Due: none

chore(cotersus): release version 1.0.0
  apps/cotersus/CHANGELOG.md
Due: none

chore(goldgetters): release version 1.0.0
  apps/goldgetters/CHANGELOG.md
Due: none

chore(pellegrims-dev): release version 1.0.0
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-base): release version 1.0.0
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(eslint-config-angular): release version 1.0.0
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 5.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore: remove useless gitkeep files
  apps/.gitkeep
  libs/.gitkeep
Due: none

chore: remove cotersus references
  README.md
  commitlint.config.js
Due: none

build: update aws packages to 3.473
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3
