Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

feat(pellegrims-dev): [blog] support inline code fragments
  apps/pellegrims-dev/components/code-block.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): extract buildCanonicalUrl function
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/utils/url.ts
Due: pellegrims-dev

refactor(pellegrims-dev): split social-icon in link and icon parts
  apps/pellegrims-dev/components/footer.tsx
  apps/pellegrims-dev/components/social-icon-link.tsx
  apps/pellegrims-dev/components/social-icon.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): use functional component for document
  apps/pellegrims-dev/pages/_document.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): use NextPage and InferGetStaticPropsType
  apps/pellegrims-dev/pages/_app.tsx
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/blog/index.tsx
  apps/pellegrims-dev/pages/bookmarks.tsx
  apps/pellegrims-dev/pages/index.tsx
  apps/pellegrims-dev/pages/snippets.tsx
Due: pellegrims-dev

feat(pellegrims-dev): add atoms lib
  libs/pellegrims-dev/ui/atoms/.babelrc
  libs/pellegrims-dev/ui/atoms/.eslintrc.json
  libs/pellegrims-dev/ui/atoms/README.md
  libs/pellegrims-dev/ui/atoms/jest.config.ts
  libs/pellegrims-dev/ui/atoms/src/index.ts
  libs/pellegrims-dev/ui/atoms/src/lib/pellegrims-dev-ui-atoms.spec.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/pellegrims-dev-ui-atoms.tsx
  libs/pellegrims-dev/ui/atoms/tsconfig.json
  libs/pellegrims-dev/ui/atoms/tsconfig.lib.json
  libs/pellegrims-dev/ui/atoms/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

style: format changelogs
  libs/eslint-config/CHANGELOG.md
  libs/nx-remotecache-s3/CHANGELOG.md
Due: eslint-config, nx-remotecache-s3

chore(eslint-config): release version 1.0.8
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.0.3
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

refactor(pellegrims-dev): split header component
  apps/pellegrims-dev/components/header.tsx
  apps/pellegrims-dev/components/nav.tsx
  apps/pellegrims-dev/components/navItem.tsx
  apps/pellegrims-dev/pages/_app.tsx
Due: pellegrims-dev

feat(pellegrims-dev): add molecules lib
  libs/pellegrims-dev/ui/molecules/.babelrc
  libs/pellegrims-dev/ui/molecules/.eslintrc.json
  libs/pellegrims-dev/ui/molecules/README.md
  libs/pellegrims-dev/ui/molecules/jest.config.ts
  libs/pellegrims-dev/ui/molecules/src/index.ts
  libs/pellegrims-dev/ui/molecules/src/lib/pellegrims-dev-ui-molecules.spec.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/pellegrims-dev-ui-molecules.tsx
  libs/pellegrims-dev/ui/molecules/tsconfig.json
  libs/pellegrims-dev/ui/molecules/tsconfig.lib.json
  libs/pellegrims-dev/ui/molecules/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

feat(pellegrims-dev): add organisms lib
  libs/pellegrims-dev/ui/organisms/.babelrc
  libs/pellegrims-dev/ui/organisms/.eslintrc.json
  libs/pellegrims-dev/ui/organisms/README.md
  libs/pellegrims-dev/ui/organisms/jest.config.ts
  libs/pellegrims-dev/ui/organisms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/lib/pellegrims-dev-ui-organisms.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/pellegrims-dev-ui-organisms.tsx
  libs/pellegrims-dev/ui/organisms/tsconfig.json
  libs/pellegrims-dev/ui/organisms/tsconfig.lib.json
  libs/pellegrims-dev/ui/organisms/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

feat(pellegrims-dev): reuse chips list in bookmark component
  apps/pellegrims-dev/components/bookmark.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): move molecules to lib
  apps/pellegrims-dev/components/blog-article-summary.tsx
  apps/pellegrims-dev/components/blog-article.tsx
  apps/pellegrims-dev/components/header.tsx
  apps/pellegrims-dev/pages/blog/index.tsx
  apps/pellegrims-dev/pages/bookmarks.tsx
  apps/pellegrims-dev/pages/contact.tsx
  apps/pellegrims-dev/pages/snippets.tsx
  libs/pellegrims-dev/ui/molecules/src/index.ts
  libs/pellegrims-dev/ui/molecules/src/lib/chip-list/chip-list.spec.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/chip-list/chip-list.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/markdown/markdown.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/nav/nav.spec.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/nav/nav.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/page-hero/page-hero.spec.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/page-hero/page-hero.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/pellegrims-dev-ui-molecules.spec.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/pellegrims-dev-ui-molecules.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): reusable counter-dev analytics component
  apps/pellegrims-dev/components/analytics.tsx
  apps/pellegrims-dev/components/counter-dev-analytics.tsx
  apps/pellegrims-dev/pages/_app.tsx
Due: pellegrims-dev

build(pellegrims-dev): add run configuration
  .run/start pellegrims-dev.run.xml
Due: none

feat(pellegrims-dev): add templates lib
  libs/pellegrims-dev/ui/templates/.babelrc
  libs/pellegrims-dev/ui/templates/.eslintrc.json
  libs/pellegrims-dev/ui/templates/README.md
  libs/pellegrims-dev/ui/templates/jest.config.ts
  libs/pellegrims-dev/ui/templates/src/index.ts
  libs/pellegrims-dev/ui/templates/src/lib/pellegrims-dev-ui-templates.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/pellegrims-dev-ui-templates.tsx
  libs/pellegrims-dev/ui/templates/tsconfig.json
  libs/pellegrims-dev/ui/templates/tsconfig.lib.json
  libs/pellegrims-dev/ui/templates/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

refactor(pellegrims-dev): move organisms to lib
  apps/pellegrims-dev/components/blog-article-list.tsx
  apps/pellegrims-dev/components/snippet-article-list.tsx
  apps/pellegrims-dev/pages/_app.tsx
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/bookmarks.tsx
  apps/pellegrims-dev/pages/index.tsx
  libs/pellegrims-dev/ui/organisms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/bookmark/bookmark.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/bookmark/bookmark.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/header/header.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/header/header.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/pellegrims-dev-ui-organisms.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/pellegrims-dev-ui-organisms.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): contact form improvements
  apps/pellegrims-dev/components/form-container.tsx
  apps/pellegrims-dev/pages/api/contact.ts
  apps/pellegrims-dev/pages/contact.tsx
  libs/pellegrims-dev/ui/atoms/src/index.ts
  libs/pellegrims-dev/ui/atoms/src/lib/form-success/form-success.spec.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/form-success/form-success.tsx
  libs/pellegrims-dev/ui/organisms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/lib/contact-form/contact-form.constants.ts
  libs/pellegrims-dev/ui/organisms/src/lib/contact-form/contact-form.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): move templates to lib
  apps/pellegrims-dev/components/blog-article-list.tsx
  apps/pellegrims-dev/components/snippet-article-list.tsx
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/blog/index.tsx
  apps/pellegrims-dev/pages/bookmarks.tsx
  apps/pellegrims-dev/pages/contact.tsx
  apps/pellegrims-dev/pages/index.tsx
  apps/pellegrims-dev/pages/snippets.tsx
  libs/pellegrims-dev/ui/atoms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/bookmark/bookmark.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/header/header.tsx
  libs/pellegrims-dev/ui/templates/src/index.ts
  libs/pellegrims-dev/ui/templates/src/lib/container/container.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/container/container.tsx
  libs/pellegrims-dev/ui/templates/src/lib/grid/grid.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/grid/grid.tsx
  libs/pellegrims-dev/ui/templates/src/lib/list/list.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/list/list.tsx
  libs/pellegrims-dev/ui/templates/src/lib/page/page.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/page/page.tsx
  libs/pellegrims-dev/ui/templates/src/lib/pellegrims-dev-ui-templates.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/pellegrims-dev-ui-templates.tsx
Due: pellegrims-dev

ci: fix env variables renaming
  .github/workflows/ci.yml
Due: none

test: downgrade react-markdown to fix tests
  libs/pellegrims-dev/ui/atoms/src/lib/code-block/code-block.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/markdown-image/markdown-image.tsx
  package.json
  pnpm-lock.yaml
Due: none

fix(pellegrims-dev): align tags everywhere
  libs/pellegrims-dev/ui/molecules/src/index.ts
  libs/pellegrims-dev/ui/molecules/src/lib/chip-list/chip-list.spec.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/chip-list/chip-list.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/tags/tags.spec.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/tags/tags.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/bookmark/bookmark.tsx
Due: none
