Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

refactor(goldgetters): move prisma to @pellegrims/goldgetters/db lib
  .run/prisma push goldgetters.run.xml
  .run/prisma studio goldgetters.run.xml
  apps/goldgetters/pages/api/trpc/[trpc].ts
  libs/goldgetters/db/.babelrc
  libs/goldgetters/db/.eslintrc.json
  libs/goldgetters/db/.gitignore
  libs/goldgetters/db/README.md
  libs/goldgetters/db/jest.config.ts
  libs/goldgetters/db/prisma/.env.example
  libs/goldgetters/db/prisma/schema.prisma
  libs/goldgetters/db/src/index.ts
  libs/goldgetters/db/tsconfig.json
  libs/goldgetters/db/tsconfig.lib.json
  libs/goldgetters/db/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

refactor(goldgetters): move trpc functionality to data-access and server libs
  apps/goldgetters/pages/_app.tsx
  apps/goldgetters/pages/api/trpc/[trpc].ts
  apps/goldgetters/pages/locations/index.tsx
  apps/goldgetters/utils/trpc.ts
  apps/goldgetters/utils/url.ts
  libs/goldgetters/data-access/.babelrc
  libs/goldgetters/data-access/.eslintrc.json
  libs/goldgetters/data-access/README.md
  libs/goldgetters/data-access/jest.config.ts
  libs/goldgetters/data-access/src/index.ts
  libs/goldgetters/data-access/src/lib/trpc.ts
  libs/goldgetters/data-access/tsconfig.json
  libs/goldgetters/data-access/tsconfig.lib.json
  libs/goldgetters/data-access/tsconfig.spec.json
  libs/goldgetters/server/.babelrc
  libs/goldgetters/server/.eslintrc.json
  libs/goldgetters/server/README.md
  libs/goldgetters/server/jest.config.ts
  libs/goldgetters/server/src/index.ts
  libs/goldgetters/server/src/lib/router.ts
  libs/goldgetters/server/src/lib/server.ts
  libs/goldgetters/server/tsconfig.json
  libs/goldgetters/server/tsconfig.lib.json
  libs/goldgetters/server/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

feat(goldgetters): integrate next-auth
  apps/goldgetters/pages/_app.tsx
  apps/goldgetters/pages/api/auth/[...nextauth].ts
  apps/goldgetters/pages/api/trpc/[trpc].ts
  libs/goldgetters/data-access/src/lib/trpc.ts
  libs/goldgetters/db/prisma/schema.prisma
  libs/goldgetters/db/src/index.ts
  libs/goldgetters/db/src/lib/client.ts
  libs/goldgetters/server/src/index.ts
  libs/goldgetters/server/src/lib/auth.ts
  libs/goldgetters/server/src/lib/context.ts
  libs/goldgetters/server/src/lib/router.ts
  libs/goldgetters/server/src/lib/server.ts
  libs/goldgetters/ui/organisms/src/lib/header/header.spec.tsx
  libs/goldgetters/ui/organisms/src/lib/header/header.tsx
  package.json
  pnpm-lock.yaml
Due: none

style: integrate prettier-plugin-tailwindcss
  .prettierrc
  apps/goldgetters/pages/_document.tsx
  apps/pellegrims-dev/components/og-image.tsx
  apps/pellegrims-dev/pages/_document.tsx
  libs/goldgetters/ui/atoms/src/lib/brand/brand.tsx
  libs/goldgetters/ui/atoms/src/lib/dark-mode-switch/dark-mode-switch.tsx
  libs/goldgetters/ui/atoms/src/lib/nav-item/nav-item.tsx
  libs/goldgetters/ui/molecules/src/lib/nav-menu/nav-menu.tsx
  libs/goldgetters/ui/organisms/src/lib/error-section/error-section.tsx
  libs/goldgetters/ui/organisms/src/lib/header/header.tsx
  libs/goldgetters/ui/templates/src/lib/page/page.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/button/button.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/chip/chip.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/form-field/form-field.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/loading-spinner/loading-spinner.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/nav-item/nav-item.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/page-subtitle/page-subtitle.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/page-title/page-title.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/right-arrow/right-arrow.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/social-icon/social-icon.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/nav/nav.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/page-hero/page-hero.tsx
  libs/pellegrims-dev/ui/molecules/src/lib/tags/tags.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/contact-form/contact-form.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/header/header.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
  libs/pellegrims-dev/ui/templates/src/lib/home/home.tsx
  libs/pellegrims-dev/ui/templates/src/lib/list/list.tsx
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev

feat(nx-remotecache-s3): add custom profile option
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
Due: nx-remotecache-s3

feat(nx-remotecache-s3): fix typo in readme
  libs/nx-remotecache-s3/README.md
Due: nx-remotecache-s3

feat(nx-remotecache-s3): revert package.json change
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.1.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

docs(nx-remotecache-s3): changelog cleanup
  libs/nx-remotecache-s3/CHANGELOG.md
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.1.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat(goldgetters): add dropdown component
  libs/goldgetters/ui/molecules/src/index.ts
  libs/goldgetters/ui/molecules/src/lib/dropdown/dropdown.spec.tsx
  libs/goldgetters/ui/molecules/src/lib/dropdown/dropdown.tsx
Due: none

feat(goldgetters): add icon component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/icon/icon.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/icon/icon.tsx
  package.json
  pnpm-lock.yaml
Due: none

feat(goldgetters): add icon button component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/icon-button/icon-button.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/icon-button/icon-button.tsx
Due: none

refactor(goldgetters): use icon component
  libs/goldgetters/ui/atoms/src/lib/dark-mode-switch/dark-mode-switch.tsx
  libs/goldgetters/ui/atoms/src/lib/icon/icon.tsx
Due: none

feat(goldgetters): add user menu
  apps/goldgetters/pages/_app.tsx
  libs/goldgetters/ui/organisms/src/lib/header/header.spec.tsx
  libs/goldgetters/ui/organisms/src/lib/header/header.tsx
  libs/goldgetters/ui/organisms/src/lib/header/user-menu.tsx
Due: none

build: nx update v14.5.10
  .gitignore
  package.json
  pnpm-lock.yaml
  workspace.json
Due: none

refactor(goldgetters): rename PageTemplate to AppTemplate
  apps/goldgetters/pages/_app.tsx
  libs/goldgetters/ui/templates/src/index.ts
  libs/goldgetters/ui/templates/src/lib/app/app.spec.tsx
  libs/goldgetters/ui/templates/src/lib/app/app.tsx
Due: none

feat(goldgetters): add heading component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/heading/heading.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/heading/heading.tsx
Due: none

feat(goldgetters): integrate hero component on index page
  apps/goldgetters/pages/index.tsx
Due: none

feat(goldgetters): add hero component
  libs/goldgetters/ui/organisms/src/index.ts
  libs/goldgetters/ui/organisms/src/lib/hero/hero.spec.tsx
  libs/goldgetters/ui/organisms/src/lib/hero/hero.tsx
Due: none

style(goldgetters): fix errorsection export
  libs/goldgetters/ui/organisms/src/index.ts
Due: none

feat(goldgetters): improve container component
  libs/goldgetters/ui/templates/src/lib/container/container.tsx
Due: none

feat(goldgetters): add section template
  libs/goldgetters/ui/templates/src/index.ts
  libs/goldgetters/ui/templates/src/lib/section/section.spec.tsx
  libs/goldgetters/ui/templates/src/lib/section/section.tsx
Due: none

Path conditions:
  pellegrims-dev: any of: apps/pellegrims-dev/
  eslint-config: any of: libs/eslint-config/
  nx-remotecache-s3: any of: libs/nx-remotecache-s3/
