Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

chore(nx-remotecache-s3): release version 1.5.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

refactor(nx-remotecache-s3): extract S3 client into separate file
  libs/nx-remotecache-s3/src/lib/s3-client.spec.ts
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
  libs/nx-remotecache-s3/src/lib/util.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.5.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

fix(nx-remotecache-s3): readonly not correctly calculated
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
  libs/nx-remotecache-s3/src/lib/util.spec.ts
  libs/nx-remotecache-s3/src/lib/util.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): update imports to split types
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
  libs/nx-remotecache-s3/src/lib/s3-client.spec.ts
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
Due: nx-remotecache-s3

build: update typescript to 4.9.4
  package.json
  pnpm-lock.yaml
Due: none

chore(nx-remotecache-s3): release version 1.5.2
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat(nx-remotecache-s3): update envs to custom runner v3 format
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/src/lib/s3-client.spec.ts
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 2.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update nx v15.4.8
  package.json
  pnpm-lock.yaml
Due: none

build: update nx v15.5.3
  package.json
  pnpm-lock.yaml
Due: none

chore: [nx migration] update-to-cypress-12
  apps/cotersus-e2e/cypress.config.ts
  apps/goldgetters-e2e/cypress.config.ts
  apps/pellegrims-dev-e2e/cypress.config.ts
  package.json
  pnpm-lock.yaml
Due: none

build: update nx v15.6.3
  package.json
  pnpm-lock.yaml
Due: none

chore: [nx migration] update-babel-preset
  libs/eslint-config/angular/.babelrc
  libs/eslint-config/base/.babelrc
  libs/goldgetters/data-access/.babelrc
  libs/goldgetters/db/.babelrc
  libs/goldgetters/server/.babelrc
  libs/nx-remotecache-s3/.babelrc
  libs/nx-vercel/.babelrc
  libs/shared/markdown/.babelrc
  libs/shared/test/.babelrc
Due: eslint-config, nx-remotecache-s3

build: update prisma v4.10.0
  libs/goldgetters/db/prisma/schema.prisma
  package.json
  pnpm-lock.yaml
Due: none

refactor(pellegrims-dev): extract node dependencies out of constants
  apps/pellegrims-dev/constants.ts
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/blog/index.tsx
  apps/pellegrims-dev/pages/snippets.tsx
  apps/pellegrims-dev/utils/feed.tsx
  apps/pellegrims-dev/utils/paths.ts
Due: pellegrims-dev

feat(pellegrims-dev): replace next-api-og-image by @vercel/og
  apps/pellegrims-dev/components/og-image.tsx
  apps/pellegrims-dev/pages/api/og-image.ts
  apps/pellegrims-dev/pages/api/og-image.tsx
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev

chore(pellegrims-dev): release version 0.2.0
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-base): release version 0.0.5
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(eslint-config-angular): release version 0.0.5
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 2.0.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat(pellegrims-dev): improve og image
  apps/pellegrims-dev/components/og-image.tsx
  apps/pellegrims-dev/pages/api/og-image.tsx
Due: pellegrims-dev

chore(pellegrims-dev): release version 0.3.0
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

ci: update ngx-deploy-npm to v5.2.0
  package.json
  pnpm-lock.yaml
Due: none

ci: support manual deploy on master
  .github/workflows/deploy.yml
Due: none
