Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

refactor(pellegrims-dev): move organisms to lib
  apps/pellegrims-dev/components/blog-article-list.tsx
  apps/pellegrims-dev/components/snippet-article-list.tsx
  apps/pellegrims-dev/pages/_app.tsx
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/bookmarks.tsx
  apps/pellegrims-dev/pages/index.tsx
  libs/pellegrims-dev/ui/organisms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/bookmark/bookmark.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/bookmark/bookmark.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/header/header.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/header/header.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/pellegrims-dev-ui-organisms.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/pellegrims-dev-ui-organisms.tsx
Due: pellegrims-dev

ci: fix env variables renaming
  .github/workflows/ci.yml
Due: none

build: update nx v14.3.6
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.spec.ts
  nx.json
  package.json
  pnpm-lock.yaml
  workspace.json
Due: nx-remotecache-s3

style: format all
  libs/eslint-config/CHANGELOG.md
  libs/nx-remotecache-s3/CHANGELOG.md
Due: eslint-config, nx-remotecache-s3

chore(eslint-config): release version 1.0.9
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.0.4
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

fix(pellegrims-dev): improve contact form handling
  apps/pellegrims-dev/components/form-container.tsx
  apps/pellegrims-dev/pages/api/contact.ts
Due: pellegrims-dev

test(pellegrims-dev): add contact form test
  apps/pellegrims-dev/specs/contact-api.spec.ts
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev

ci(pellegrims-dev): fix vercel build
  package.json
  pnpm-lock.yaml
Due: none

build: replace @commitlint/config-angular by @commitlint/config-conventional
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: none

ci: remove --noVerify flag in release workflow
  .github/workflows/release.yml
Due: none

chore(eslint-config): release version 1.0.10
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.0.5
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

ci: always upload all code coverage to codecov
  .github/workflows/ci.yml
Due: none

feat(pellegrims-dev): link article summary title to content
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.tsx
Due: none

feat(pellegrims-dev): dynamic og images for articles
  apps/pellegrims-dev/components/og-image.tsx
  apps/pellegrims-dev/constants.ts
  apps/pellegrims-dev/pages/api/og-image.ts
  apps/pellegrims-dev/pages/blog/[slug].tsx
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev

feat(pellegrims-dev): improve padding consistency
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
Due: none

feat(pellegrims-dev): add reading time
  apps/pellegrims-dev/components/og-image.tsx
  apps/pellegrims-dev/pages/api/og-image.ts
  libs/markdown/src/lib/markdown.model.ts
  libs/markdown/src/lib/markdown.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev

chore(pellegrims-dev): update home hero text
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
Due: none

fix(pellegrims-dev): trailing slash issue resulting in ERR_TOO_MANY_REDIRECTS
  apps/pellegrims-dev/next.config.js
Due: pellegrims-dev

feat(pellegrims-dev): support article cover images
  apps/pellegrims-dev/content/blog/lorem-ipsum.md
  apps/pellegrims-dev/public/.gitkeep
  apps/pellegrims-dev/public/assets/blog/lorem-ipsum/cover.jpg
  libs/markdown/src/lib/markdown.model.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
Due: pellegrims-dev

feat(pellegrims-dev): rename Bookmark component to Card
  apps/pellegrims-dev/pages/bookmarks.tsx
  libs/pellegrims-dev/ui/organisms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.tsx
Due: pellegrims-dev

refactor(pellegrims-dev): replace BlogArticleSummary component by Card component
  apps/pellegrims-dev/next.config.js
  apps/pellegrims-dev/pages/blog/[slug].tsx
  apps/pellegrims-dev/pages/blog/index.tsx
  apps/pellegrims-dev/pages/bookmarks.tsx
  apps/pellegrims-dev/pages/snippets.tsx
  apps/pellegrims-dev/utils/url.ts
  libs/markdown/src/lib/markdown.model.ts
  libs/pellegrims-dev/ui/organisms/src/index.ts
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article-summary/blog-article-summary.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.spec.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.tsx
Due: pellegrims-dev

test(pellegrims-dev): fix test
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.spec.tsx
Due: none

feat(pellegrims-dev): increase flex gap on home hero component
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
Due: none
