Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

ci: deploy trigger should be release created instead of released
  .github/workflows/deploy.yml
Due: none

docs: update projects and links in main README
  README.md
Due: none

build: update nx v15.0.13
  apps/cotersus-e2e/project.json
  apps/cotersus/project.json
  apps/goldgetters-e2e/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev-e2e/project.json
  apps/pellegrims-dev/project.json
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/project.json
  libs/goldgetters/data-access/project.json
  libs/goldgetters/db/project.json
  libs/goldgetters/server/project.json
  libs/goldgetters/ui/atoms/project.json
  libs/goldgetters/ui/molecules/project.json
  libs/goldgetters/ui/organisms/project.json
  libs/goldgetters/ui/templates/project.json
  libs/nx-remotecache-s3/project.json
  libs/pellegrims-dev/ui/atoms/project.json
  libs/pellegrims-dev/ui/molecules/project.json
  libs/pellegrims-dev/ui/organisms/project.json
  libs/pellegrims-dev/ui/templates/project.json
  libs/shared/markdown/project.json
  libs/shared/test/project.json
  libs/shared/ui/atoms/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

build: remove defaultProject
  nx.json
Due: none

refactor: nextjs v13 - next/link migration
  libs/goldgetters/ui/atoms/src/lib/brand/brand.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/brand/brand.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/nav-item/nav-item.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/social-icon-link/social-icon-link.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/footer/footer.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/header/header.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
  libs/shared/ui/atoms/src/lib/next-link/next-link.spec.tsx
  libs/shared/ui/atoms/src/lib/next-link/next-link.tsx
Due: none

refactor: nextjs v13 - next/image migration
  apps/cotersus/pages/index.tsx
  libs/goldgetters/ui/atoms/src/lib/brand/brand.tsx
  libs/goldgetters/ui/organisms/src/lib/header/header.tsx
  libs/pellegrims-dev/ui/atoms/src/lib/markdown-image/markdown-image.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/card/card.tsx
  libs/pellegrims-dev/ui/organisms/src/lib/home-hero/home-hero.tsx
Due: none

chore(cotersus): release version 0.1.4
  apps/cotersus/CHANGELOG.md
Due: none

chore(goldgetters): release version 0.2.2
  apps/goldgetters/CHANGELOG.md
Due: none

chore(pellegrims-dev): release version 0.1.3
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-angular): release version 0.0.4
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(eslint-config-base): release version 0.0.4
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.4.4
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

fix(nx-remotecache-s3): generated package.json is pinning all dependency versions
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.4.5
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

fix(nx-remotecache-s3): options.forcePathStyle and options.readOnly are never used
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.4.6
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

refactor(nx-remotecache-s3): move task runner implementation in separate file
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.spec.ts
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
Due: nx-remotecache-s3

test(nx-remotecache-s3): increase code coverage
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.4.7
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update @pellegrims/nx-remotecache-s3 to v1.4.7
  package.json
  pnpm-lock.yaml
Due: none

fix(cotersus): logo is not horizontally aligned
  apps/cotersus/pages/index.tsx
Due: none

chore(cotersus): release version 0.1.5
  apps/cotersus/CHANGELOG.md
Due: none

chore(nx-remotecache-s3): update dependencies
  libs/nx-remotecache-s3/package.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore: update nx to 15.3.3
  package.json
  pnpm-lock.yaml
Due: none

chore: automated - update-to-cypress-11
  package.json
  pnpm-lock.yaml
Due: none

feat(nx-remotecache-s3): update code for stream based runner v3
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(nx-remotecache-s3): update storeFile to use Upload fn
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

feat(nx-remotecache-s3): update nx-remotecache-custom to v3
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

build: update nx to 15.3.3
  package.json
  pnpm-lock.yaml
Due: none
