Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

feat(goldgetters): add input component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/form-field/form-field.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/form-field/form-field.tsx
  libs/goldgetters/ui/atoms/src/lib/input/input.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/input/input.tsx
Due: none

feat(goldgetters): add alert component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/alert/alert.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/alert/alert.tsx
Due: none

style(pellegrims-dev): deactivate allowSyntheticDefaultImports
  apps/pellegrims-dev/pages/api/contact.ts
  apps/pellegrims-dev/tsconfig.json
Due: pellegrims-dev

feat(goldgetters): add button component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/button/button.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/button/button.tsx
Due: none

style(goldgetters): activate typescript strict mode
  apps/goldgetters/pages/user/profile/index.tsx
  apps/goldgetters/tsconfig.json
Due: none

feat(goldgetters): add contact-form component
  libs/goldgetters/ui/organisms/src/index.ts
  libs/goldgetters/ui/organisms/src/lib/contact-form/contact-form.spec.tsx
  libs/goldgetters/ui/organisms/src/lib/contact-form/contact-form.tsx
  package.json
  pnpm-lock.yaml
Due: none

build: remove nx-ignore from dev dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(eslint-config): release version 1.0.12
  libs/eslint-config/CHANGELOG.md
  libs/eslint-config/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.2.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update ngx-deploy-npm
  package.json
  pnpm-lock.yaml
Due: none

feat(goldgetters): add contact form
  apps/goldgetters/pages/contact.tsx
  libs/goldgetters/server/src/lib/auth.ts
  libs/goldgetters/server/src/lib/mail-config.ts
  libs/goldgetters/server/src/lib/router.ts
  libs/goldgetters/server/src/lib/server.ts
  libs/goldgetters/ui/organisms/src/lib/contact-form/contact-form.tsx
  package.json
  pnpm-lock.yaml
Due: none

feat(goldgetters): add textarea component
  libs/goldgetters/ui/atoms/src/index.ts
  libs/goldgetters/ui/atoms/src/lib/textarea/textarea.spec.tsx
  libs/goldgetters/ui/atoms/src/lib/textarea/textarea.tsx
Due: none

build: update nx v14.6.4
  package.json
  pnpm-lock.yaml
Due: none

build: downgrade chrome-aws-lambda
  package.json
  pnpm-lock.yaml
Due: none

chore(nx-remotecache-s3): release version 1.2.1
  libs/nx-remotecache-s3/CHANGELOG.md
Due: nx-remotecache-s3

chore(eslint-config): release version 1.0.12
  libs/eslint-config/CHANGELOG.md
Due: eslint-config

build: set registry-url specifically for release workflow
  .github/workflows/release.yml
Due: none

build: update nx v14.7.5
  package.json
  pnpm-lock.yaml
Due: none

test: migrate to cypress v10
  apps/goldgetters-e2e/cypress.config.ts
  apps/goldgetters-e2e/cypress.json
  apps/goldgetters-e2e/project.json
  apps/goldgetters-e2e/src/e2e/app.cy.ts
  apps/goldgetters-e2e/src/support/e2e.ts
  apps/goldgetters-e2e/tsconfig.json
  apps/pellegrims-dev-e2e/cypress.config.ts
  apps/pellegrims-dev-e2e/cypress.json
  apps/pellegrims-dev-e2e/project.json
  apps/pellegrims-dev-e2e/src/e2e/contact.cy.ts
  apps/pellegrims-dev-e2e/src/e2e/home.cy.ts
  apps/pellegrims-dev-e2e/src/support/e2e.ts
  apps/pellegrims-dev-e2e/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

refactor(goldgetters): move favicon to shared-ui-atoms
  apps/goldgetters/pages/_document.tsx
  libs/shared/ui/atoms/src/index.ts
  libs/shared/ui/atoms/src/lib/favicon/favicon.spec.tsx
  libs/shared/ui/atoms/src/lib/favicon/favicon.tsx
Due: none

refactor(pellegrims-dev): use favicon from shared-ui-atoms
  apps/pellegrims-dev/components/favicon.tsx
  apps/pellegrims-dev/pages/_document.tsx
Due: pellegrims-dev

chore: add cotersus as accepted scope to commitlint
  commitlint.config.js
Due: none

feat(cotersus): initial commit
  .gitignore
  apps/cotersus-e2e/.eslintrc.json
  apps/cotersus-e2e/cypress.config.ts
  apps/cotersus-e2e/project.json
  apps/cotersus-e2e/src/e2e/app.cy.ts
  apps/cotersus-e2e/src/fixtures/example.json
  apps/cotersus-e2e/src/support/commands.ts
  apps/cotersus-e2e/src/support/e2e.ts
  apps/cotersus-e2e/tsconfig.json
  apps/cotersus/.eslintrc.json
  apps/cotersus/index.d.ts
  apps/cotersus/jest.config.ts
  apps/cotersus/next-env.d.ts
  apps/cotersus/next.config.js
  apps/cotersus/pages/_app.tsx
  apps/cotersus/pages/_document.tsx
  apps/cotersus/pages/index.tsx
  apps/cotersus/postcss.config.js
  apps/cotersus/project.json
  apps/cotersus/public/favicon/android-chrome-192x192.png
  apps/cotersus/public/favicon/android-chrome-512x512.png
  apps/cotersus/public/favicon/apple-touch-icon.png
  apps/cotersus/public/favicon/browserconfig.xml
  apps/cotersus/public/favicon/favicon-16x16.png
  apps/cotersus/public/favicon/favicon-32x32.png
  apps/cotersus/public/favicon/favicon.ico
  apps/cotersus/public/favicon/mstile-144x144.png
  apps/cotersus/public/favicon/mstile-150x150.png
  apps/cotersus/public/favicon/mstile-310x150.png
  apps/cotersus/public/favicon/mstile-310x310.png
  apps/cotersus/public/favicon/mstile-70x70.png
  apps/cotersus/public/favicon/site.webmanifest
  apps/cotersus/public/logo.svg
  apps/cotersus/specs/index.spec.tsx
  apps/cotersus/tailwind.config.js
  apps/cotersus/tsconfig.json
  apps/cotersus/tsconfig.spec.json
  workspace.json
Due: none

Path conditions:
  pellegrims-dev: any of: apps/pellegrims-dev/
  eslint-config: any of: libs/eslint-config/
  nx-remotecache-s3: any of: libs/nx-remotecache-s3/
