Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

feat: add proxy support for nx-remotecache-s3
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  pnpm-lock.yaml
Due: nx-remotecache-s3

feat: add proxy support for nx-remotecache-s3 (#267)
  .gitignore
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/s3-client.spec.ts
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/test-utils.ts
  libs/nx-remotecache-s3/src/lib/util.spec.ts
  libs/nx-remotecache-s3/src/lib/util.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 7.1.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update nx to v19.1
  package.json
  pnpm-lock.yaml
Due: none

build: migrate ngx-deploy-npm to v8
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/project.json
  libs/nx-remotecache-s3/project.json
  package.json
  pnpm-lock.yaml
Due: eslint-config, nx-remotecache-s3

build: update Nx to v19.3 to support pnpm v9
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: none

ci: use pnpm v9
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: update node to v20
  .github/workflows/release.yml
Due: none

fix(nx-remotecache-s3): remove readOnly param and env var
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.ts
  libs/nx-remotecache-s3/src/lib/test-utils.ts
  libs/nx-remotecache-s3/src/lib/util.spec.ts
  libs/nx-remotecache-s3/src/lib/util.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 8.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat(nx-remotecache-s3): support nx v20
  jest.config.ts
  libs/nx-remotecache-s3/package.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(eslint-config-base): release version 1.0.2
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 8.1.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

chore(eslint-config-angular): release version 1.0.2
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

feat: update eslint-plugin-rxjs to v5
  package.json
  pnpm-lock.yaml
Due: none

build: update nx to v20.8.2
  jest.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: none

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 6: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/release.yml
Due: none

ci: add github actions workflow permissions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: resolve security vulnerabilities in dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: security vulnerability on js-yaml
  package.json
  pnpm-lock.yaml
Due: none

chore: remove nx-vercel
  commitlint.config.js
  libs/nx-vercel/.babelrc
  libs/nx-vercel/.eslintrc.json
  libs/nx-vercel/README.md
  libs/nx-vercel/executors.json
  libs/nx-vercel/generators.json
  libs/nx-vercel/jest.config.ts
  libs/nx-vercel/package.json
  libs/nx-vercel/project.json
  libs/nx-vercel/src/executors/deploy/executor.spec.ts
  libs/nx-vercel/src/executors/deploy/executor.ts
  libs/nx-vercel/src/executors/deploy/schema.d.ts
  libs/nx-vercel/src/executors/deploy/schema.json
  libs/nx-vercel/src/index.ts
  libs/nx-vercel/tsconfig.json
  libs/nx-vercel/tsconfig.lib.json
  libs/nx-vercel/tsconfig.spec.json
  tsconfig.base.json
Due: none

chore: remove unused dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: remove tools directory
  tools/scripts/ignore-vercel-build.sh
  tools/tsconfig.tools.json
Due: none

chore: rename repository to nx-remotecache-s3
  README.md
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
  package.json
Due: nx-remotecache-s3
