Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

refactor(eslint-config): rename eslint-config to eslint-config-angular
  libs/eslint-config/angular/.babelrc
  libs/eslint-config/angular/.eslintrc.json
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/README.md
  libs/eslint-config/angular/jest.config.ts
  libs/eslint-config/angular/package.json
  libs/eslint-config/angular/project.json
  libs/eslint-config/angular/src/angular-template.ts
  libs/eslint-config/angular/src/angular.ts
  libs/eslint-config/angular/src/index.spec.ts
  libs/eslint-config/angular/src/index.ts
  libs/eslint-config/angular/src/javascript.ts
  libs/eslint-config/angular/src/lib/angular-eslint.ts
  libs/eslint-config/angular/src/lib/angular-template.ts
  libs/eslint-config/angular/src/lib/eslint.ts
  libs/eslint-config/angular/src/lib/etc.ts
  libs/eslint-config/angular/src/lib/import.ts
  libs/eslint-config/angular/src/lib/ngrx.ts
  libs/eslint-config/angular/src/lib/prettier.ts
  libs/eslint-config/angular/src/lib/rxjs-angular.ts
  libs/eslint-config/angular/src/lib/rxjs.ts
  libs/eslint-config/angular/src/lib/typescript-eslint.ts
  libs/eslint-config/angular/src/lib/unicorn.ts
  libs/eslint-config/angular/src/typescript.ts
  libs/eslint-config/angular/tsconfig.json
  libs/eslint-config/angular/tsconfig.lib.json
  libs/eslint-config/angular/tsconfig.spec.json
  libs/eslint-config/project.json
  tsconfig.base.json
  workspace.json
Due: eslint-config

chore(eslint-config-angular): release version 0.0.1
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(eslint-config-base): release version 0.0.1
  libs/eslint-config/base/CHANGELOG.md
Due: eslint-config

fix(eslint-config-base): fix package name
  libs/eslint-config/base/package.json
Due: eslint-config

chore(eslint-config-base): release version 0.0.2
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

fix(eslint-config-angular): move @pellegrims/eslint-config-base to dependencies
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(eslint-config-angular): release version 0.0.2
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

build: remove unused angular-related dependencies
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

feat(nx-remotecache-s3): add force path style capability to S3Options
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.3.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat(nx-remotecache-s3): add readonly option
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.4.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat(nx-remotecache-s3): update env boolean handling and error handling
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
Due: nx-remotecache-s3

fix(nx-remotecache-s3): update env boolean handling and error handling (#174)
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.4.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

fix(nx-remotecache-s3): fix 403 error handling for fileExists
  libs/nx-remotecache-s3/src/lib/nx-remotecache-s3.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 1.4.2
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: update nx v14.8.6
  package.json
  pnpm-lock.yaml
Due: none

refactor(pellegrims-dev): use render props instead of passing down component
  apps/pellegrims-dev/pages/blog/index.tsx
  apps/pellegrims-dev/pages/bookmarks.tsx
  apps/pellegrims-dev/pages/snippets.tsx
  libs/pellegrims-dev/ui/templates/src/lib/grid/grid.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/grid/grid.tsx
  libs/pellegrims-dev/ui/templates/src/lib/list/list.spec.tsx
  libs/pellegrims-dev/ui/templates/src/lib/list/list.tsx
Due: pellegrims-dev

chore(pellegrims-dev): release version 0.1.1
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

build: rename deploy targets to publish
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/project.json
  libs/nx-remotecache-s3/project.json
Due: eslint-config, nx-remotecache-s3

chore(cotersus): add missing tags
  apps/cotersus/project.json
Due: none

feat(nx-vercel): create nx plugin to deploy to vercel using the CLI
  .eslintrc.json
  .vscode/settings.json
  commitlint.config.js
  libs/nx-vercel/.babelrc
  libs/nx-vercel/.eslintrc.json
  libs/nx-vercel/README.md
  libs/nx-vercel/executors.json
  libs/nx-vercel/generators.json
  libs/nx-vercel/jest.config.ts
  libs/nx-vercel/package.json
  libs/nx-vercel/project.json
  libs/nx-vercel/src/executors/deploy/executor.spec.ts
  libs/nx-vercel/src/executors/deploy/executor.ts
  libs/nx-vercel/src/executors/deploy/schema.d.ts
  libs/nx-vercel/src/executors/deploy/schema.json
  libs/nx-vercel/src/index.ts
  libs/nx-vercel/tsconfig.json
  libs/nx-vercel/tsconfig.lib.json
  libs/nx-vercel/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: none

ci: integrate nx-vercel plugin for manual deployments
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  apps/cotersus/project.json
  apps/goldgetters/project.json
  apps/pellegrims-dev/project.json
Due: pellegrims-dev

chore(cotersus): release version 0.1.3
  apps/cotersus/CHANGELOG.md
Due: none

chore(goldgetters): release version 0.2.1
  apps/goldgetters/CHANGELOG.md
Due: none

chore(pellegrims-dev): release version 0.1.2
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-angular): release version 0.0.3
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(eslint-config-base): release version 0.0.3
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 1.4.3
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3
