Repository robinpellegrims/pellegrims: changes, and which Codecov flags are due for each by the changed paths.
All: pellegrims-dev, eslint-config, nx-remotecache-s3

codecov.yml:

flags:
  pellegrims-dev:
    paths:
      - apps/pellegrims-dev/
    carryforward: true
  eslint-config:
    paths:
      - libs/eslint-config/
    carryforward: true
  nx-remotecache-s3:
    paths:
      - libs/nx-remotecache-s3/
    carryforward: true

chore(nx-remotecache-s3): release version 5.0.1
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

build: remove unused dependencies
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

chore: nx migration - Simplify eslintFilePatterns
  apps/pellegrims-dev-e2e/project.json
  apps/pellegrims-dev/.eslintrc.json
  apps/pellegrims-dev/project.json
  libs/eslint-config/angular/project.json
  libs/eslint-config/base/project.json
  libs/nx-remotecache-s3/project.json
  libs/nx-vercel/project.json
  libs/pellegrims-dev/ui/atoms/project.json
  libs/pellegrims-dev/ui/molecules/project.json
  libs/pellegrims-dev/ui/organisms/project.json
  libs/pellegrims-dev/ui/templates/project.json
  libs/shared/markdown/project.json
  libs/shared/test/project.json
  libs/shared/ui/atoms/project.json
Due: pellegrims-dev, eslint-config, nx-remotecache-s3

build: update nx v17.2.4
  package.json
  pnpm-lock.yaml
Due: none

chore(pellegrims-dev): release version 1.0.1
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

chore(eslint-config-base): release version 1.0.1
  libs/eslint-config/base/CHANGELOG.md
  libs/eslint-config/base/package.json
Due: eslint-config

chore(eslint-config-angular): release version 1.0.1
  libs/eslint-config/angular/CHANGELOG.md
  libs/eslint-config/angular/package.json
Due: eslint-config

chore(nx-remotecache-s3): release version 5.0.2
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat(pellegrims-dev): support article last update date
  libs/pellegrims-dev/ui/organisms/src/lib/blog-article/blog-article.tsx
  libs/shared/markdown/src/lib/markdown.model.ts
Due: none

chore(pellegrims-dev): update Angular Material Dialog article to Angular v17
  apps/pellegrims-dev/content/blog/ng-material-dialog-type-safety.md
Due: pellegrims-dev

chore(pellegrims-dev): release version 1.0.2
  apps/pellegrims-dev/CHANGELOG.md
Due: pellegrims-dev

fix(nx-remotecache-s3): add config value to provider call for role assumption
  libs/nx-remotecache-s3/src/lib/s3-client.ts
Due: nx-remotecache-s3

fix(nx-remotecache-s3): update test for provider call for role assumption
  libs/nx-remotecache-s3/src/lib/s3-client.spec.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 5.0.3
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat: add proxy support for nx-remotecache-s3
  .gitignore
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/s3-client.spec.ts
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/test-utils.ts
  libs/nx-remotecache-s3/src/lib/util.spec.ts
  libs/nx-remotecache-s3/src/lib/util.ts
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

build: update nx 18.0.6
  .env
  .gitignore
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

build: update nx-remotecache-custom to v18
  libs/nx-remotecache-s3/package.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

build: update @jscutlery/semver to v5
  package.json
  pnpm-lock.yaml
Due: none

chore(nx-remotecache-s3): release version 5.0.4
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat: remove unused cypress dependency
  package.json
  pnpm-lock.yaml
Due: none

feat: update nx to v18
  libs/nx-remotecache-s3/src/lib/util.ts
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 6.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat: update nx to v18.3.4
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

feat: update nx to v19.0.6
  libs/nx-remotecache-s3/package.json
  package.json
  pnpm-lock.yaml
Due: nx-remotecache-s3

chore(nx-remotecache-s3): release version 7.0.0
  libs/nx-remotecache-s3/CHANGELOG.md
  libs/nx-remotecache-s3/package.json
Due: nx-remotecache-s3

feat: add proxy support for nx-remotecache-s3
  .gitignore
  libs/nx-remotecache-s3/README.md
  libs/nx-remotecache-s3/package.json
  libs/nx-remotecache-s3/src/lib/s3-client.spec.ts
  libs/nx-remotecache-s3/src/lib/s3-client.ts
  libs/nx-remotecache-s3/src/lib/setup-s3-task-runner.spec.ts
  libs/nx-remotecache-s3/src/lib/test-utils.ts
  libs/nx-remotecache-s3/src/lib/util.spec.ts
  libs/nx-remotecache-s3/src/lib/util.ts
  package.json
Due: nx-remotecache-s3
